@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.icon {
  width: 50px;
  height: 50px;
  background: #fef7f7;
  border-radius: 50px;
}

.modal-w {
  max-width: 1100px !important;
}
.modal-left {
  background: rgba(235, 87, 87, 0.05);
  border: 1px solid #eb5757;
  border-radius: 16px;
}
.modal-small-box {
  background: #ffffff;
  border-radius: 16px;
  padding: 22px;
}

.modal-right {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 16px;
}
.percent-fixed {
  top: 5%;
  right: 5%;
}
img.card-img-top.mx-auto.h-100 {
  height: 30vh !important;
}
